#footerBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-top: 30px;
}



#mobile, #qr{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    max-width: 500px;
}

#footerBox img{
    max-width: 50%;
}

#brandFooter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#brandFooter img{
    max-width: 104px;
}



/* footer contain */

#footer{
    color: #000;
}

#final{
    display: flex;
    flex-direction: row;
    align-items: center
    ;

    padding-bottom: 30px;
}

#final img{
    width: 60px;
}

#footerTxt{
    padding-top: 60px;
    padding-bottom: 30px;
}
#footerTxt hr{
    margin-bottom: 30px;
}

#final p {
    margin-left: 15px;
}



/* responsivo */
@media(max-width:1000px){
    #footerBox{
        flex-direction: column;
        align-items: center;
    }
    #brandFooter{
        align-items: center;
    }
}